<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900384285987-u7o5d5le64975lme0v2fo19d3p461693.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900384285987-u7o5d5le64975lme0v2fo19d3p461693</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900384285987-254bbt8fi1da7r0elg5o4tsco7a55a0r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJNRKGJAAvEU30MNbwk6mgiSeRI_R6L-I</string>
	<key>GCM_SENDER_ID</key>
	<string>900384285987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.np.hamrofutsal</string>
	<key>PROJECT_ID</key>
	<string>hamro-futsal-6f95c</string>
	<key>STORAGE_BUCKET</key>
	<string>hamro-futsal-6f95c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900384285987:ios:2fdce3bc99bb6488005896</string>
</dict>
</plist>